.alert.nav_menu{
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80%;;
}
.success.nav_menu{
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80%;
}
.warning.nav_menu{
  padding: 20px;
  background-color: #ff9800;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}